/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  background-color: #f4f4f4;
  color: #333;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

main {
  display: block;
}

article, section {
  display: block;
}

header, footer, aside, nav {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Common */

body{
    font-family: "Roboto", serif;
}

h1{
    text-align: center;
    margin: 50px 0;
}

.seminars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    padding: 0 20px;
    margin: 50px auto;
  }